<!DOCTYPE html>
<html>
<head>
    <title>User Details</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 5px;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            padding: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1><%= user._role %></h1>
    <p>First Name: <%= user._first_name %></p>
    <p>Last Name: <%= user._last_name %></p>
    <p>Email: <%= user._email %></p>
    <p>Password: <%= user._password %></p>
</div>
</body>
</html>
